{% extends 'base.html' %}
{% block title %}Giriş Yap{% endblock %}

{% load static %} <!-- Tailwind CSS'i kullanmak için gerekli -->
{% load widget_tweaks %}

{% block content %}
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Giriş Yap
            </h2>
            {% if form.non_field_errors %}
                <div class="text-red-500">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                <form class="space-y-6" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div>
                            <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">
                                {{ field.label }}
                            </label>
                            <div class="mt-1">
                                {{ field|add_class:"block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" }}
                                {% if field.errors %}
                                    <div class="text-red-500">
                                        {% for error in field.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <div>
                        <button type="submit"
                                class="flex w-full justify-center rounded-md bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                            Giriş Yap
                        </button>
                    </div>
                </form>
                <p class="text-center text-sm leading-6 text-gray-500 mt-3">
                    Üye değil misiniz?
                    <a href="/signup" class="font-semibold text-indigo-600 hover:text-indigo-500">Kayıt ol</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
