{% extends 'base.html' %}
{% block title %}Kayıt ol{% endblock %}

{% load static %} <!-- Tailwind CSS'i kullanmak için gerekli -->
{% load widget_tweaks %}

{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      Hesabınızı oluşturun
    </h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form class="space-y-6" action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
          <div>
            <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">
              {{ field.label }}
            </label>
            <div class="mt-1">
              {{ field|add_class:"block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" }}
              <!-- Alan hataları -->
              {% if field.errors %}
                <div class="text-red-500 text-sm">
                  {% for error in field.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}

        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            Kayıt Ol
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
